image: gcc
default:
  before_script:
    - echo "deb http://http.us.debian.org/debian stable main" >> /etc/apt/sources.list
    - apt update
    - apt -y install gcc-9 g++-9 gfortran-9
    - update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-9 60 --slave /usr/bin/g++ g++ /usr/bin/g++-9
    - update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-9 60
    - apt -y install openmpi-bin libopenmpi-dev libblas-dev liblapack-dev libscalapack-mpi-dev cmake

stages:
  - build
  - test

build:
  stage: build

  script:
    - export BLAS_LIB=/usr/lib/x86_64-linux-gnu/libblas.so
    - export LAPACK_LIB=/usr/lib/x86_64-linux-gnu/liblapack.so
    - export SCALAPACK_LIB="/usr/lib/x86_64-linux-gnu/libscalapack-openmpi.so"
    - printf "${BLUE} YL; Installing ButterflyPACK from source\n"
    - pwd
    - rm -rf build && mkdir -p build && cd build
    - cmake .. -DBUILD_SHARED_LIBS=OFF -DCMAKE_C_COMPILER=mpicc -DCMAKE_CXX_COMPILER=mpic++ -DCMAKE_Fortran_COMPILER=mpif90 -DCMAKE_INSTALL_PREFIX=. -DCMAKE_BUILD_TYPE=Debug -DCMAKE_VERBOSE_MAKEFILE:BOOL=OFF -DTPL_BLAS_LIBRARIES="$BLAS_LIB" -DTPL_LAPACK_LIBRARIES="$LAPACK_LIB" -DTPL_SCALAPACK_LIBRARIES="$SCALAPACK_LIB"
    - make && make install
    - cd ../
    - printf "${BLUE} YL; Done installing ButterflyPACK from source\n"

  artifacts:
    paths:
      - build
    expire_in: 1 week

test 1/16:
  stage: test
  script:
    - export TEST_NUMBER=1
    - sh .ci_tests.sh

test 2/16:
  stage: test
  script:
    - export TEST_NUMBER=2
    - sh .ci_tests.sh

test 3/16:
  stage: test
  script:
    - export TEST_NUMBER=3
    - sh .ci_tests.sh

test 4/16:
  stage: test
  script:
    - export TEST_NUMBER=4
    - sh .ci_tests.sh

test 5/16:
  stage: test
  script:
    - export TEST_NUMBER=5
    - sh .ci_tests.sh

test 6/16:
  stage: test
  script:
    - export TEST_NUMBER=6
    - sh .ci_tests.sh

test 7/16:
  stage: test
  script:
    - export TEST_NUMBER=7
    - sh .ci_tests.sh

test 8/16:
  stage: test
  script:
    - export TEST_NUMBER=8
    - sh .ci_tests.sh

test 9/16:
  stage: test
  script:
    - export TEST_NUMBER=9
    - sh .ci_tests.sh

test 10/16:
  stage: test
  script:
    - export TEST_NUMBER=10
    - sh .ci_tests.sh

test 11/16:
  stage: test
  script:
    - export TEST_NUMBER=11
    - sh .ci_tests.sh

test 12/16:
  stage: test
  script:
    - export TEST_NUMBER=12
    - sh .ci_tests.sh

test 13/16:
  stage: test
  script:
    - export TEST_NUMBER=13
    - sh .ci_tests.sh

test 14/16:
  stage: test
  script:
    - export TEST_NUMBER=14
    - sh .ci_tests.sh

test 15/16:
  stage: test
  script:
    - export TEST_NUMBER=15
    - sh .ci_tests.sh    

test 16/16:
  stage: test
  script:
    - export TEST_NUMBER=16
    - sh .ci_tests.sh  
