
make.inc
./build
./SRC/ButterflyPACK_config.fi
./SRC_DOUBLE
./SRC_DOUBLECOMPLEX
./EXAMPLE/*.mod
./EXAMPLE/*.o
./EXAMPLE/ie2d 
./EXAMPLE/ie3d 
./EXAMPLE/smat
./EXAMPLE/krr
./EXAMPLE/full
./EXAMPLE/fullkrr
./EXAMPLE/ctest
./EXAMPLE/FULLMAT_DATA/*.mat
./EXAMPLE/FULLMAT_DATA/*.csv
./EXAMPLE/ButterflyPACK_config.fi
