./build/*.cmake
./build/CMakeFiles
./build/SRC_DOUBLE
./build/SRC_DOUBLECOMPLEX
./build/EXAMPLE
./build/Testing
./SRC_DOUBLE
./SRC_DOUBLECOMPLEX
./EXAMPLE/FULLMAT_DATA/*.mat
./EXAMPLE/FULLMAT_DATA/*.csv

