image: gcc
default:
  before_script:
    - apt-get update -y
    - apt-get install -y gcc-13 g++-13 gfortran-13 dpkg-dev
    - update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 60 --slave /usr/bin/g++ g++ /usr/bin/g++-13
    - update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-13 60
    - apt-get install -y openmpi-bin libopenmpi-dev libblas-dev liblapack-dev libscalapack-mpi-dev cmake

stages:
  - build
  - test

build:
  stage: build
  script:
    - MULTIARCH=$(dpkg-architecture -qDEB_HOST_MULTIARCH)
    - echo "MULTIARCH = $MULTIARCH"
    - cmake --version
    - export BLAS_LIB=/usr/lib/$MULTIARCH/libblas.so
    - export LAPACK_LIB=/usr/lib/$MULTIARCH/liblapack.so
    - export SCALAPACK_LIB="/usr/lib/$MULTIARCH/libscalapack-openmpi.so"
    - echo ${SCALAPACK_LIB}
    - echo "YL; Installing ButterflyPACK from source"
    - pwd
    - rm -rf build && mkdir -p build && cd build
    - cmake .. \
        -DBUILD_SHARED_LIBS=OFF \
        -DCMAKE_C_COMPILER=mpicc \
        -DCMAKE_CXX_COMPILER=mpic++ \
        -DCMAKE_Fortran_COMPILER=mpif90 \
        -DCMAKE_INSTALL_PREFIX=. \
        -DCMAKE_BUILD_TYPE=Debug \
        -DCMAKE_VERBOSE_MAKEFILE:BOOL=OFF \
        -DTPL_BLAS_LIBRARIES="${BLAS_LIB}" \
        -DTPL_LAPACK_LIBRARIES="${LAPACK_LIB}" \
        -DTPL_SCALAPACK_LIBRARIES="${SCALAPACK_LIB}"
    - make -j$(nproc)
    - make install
    - cd ..
    - echo "YL; Done installing ButterflyPACK from source"

  artifacts:
    paths:
      - build
    expire_in: 1 week

# Helper anchor for tests so we don't repeat ourselves too much
.test-template: &test_template
  stage: test
  needs: ["build"]          # Make sure build finishes before tests
  dependencies: ["build"]   # Download build artifacts (./build)
  script:
    - echo "Running test number ${TEST_NUMBER}"
    - sh .ci_tests.sh

test_1/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "1"

test_2/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "2"

test_3/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "3"

test_4/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "4"

test_5/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "5"

test_6/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "6"

test_7/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "7"

test_8/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "8"

test_9/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "9"

test_10/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "10"

test_11/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "11"

test_12/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "12"

test_13/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "13"

test_14/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "14"

test_15/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "15"

test_16/16:
  <<: *test_template
  variables:
    TEST_NUMBER: "16"
