on: [push, pull_request]

jobs:
  # -----------------------------
  # Mirror to gitlab.spack.io
  # -----------------------------
  gitlab_spack_mirror:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Mirror and trigger CI job at gitlab.spack.io
      uses: stenongithub/gitlab-mirror-and-ci-action@0.2.8
      with:
        args: "https://gitlab.spack.io/ssg/ButterflyPACK.git"
      env:
        GITLAB_HOSTNAME: "gitlab.spack.io"
        GITLAB_USERNAME: "liuyang"
        GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD_SPACK }}
        GITLAB_PROJECT_ID: "72"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        POLL_TIMEOUT: "800"

  # -----------------------------
  # Mirror to gitlab.com
  # -----------------------------
  gitlab_com_mirror:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Mirror and trigger CI job at gitlab.com
      uses: stenongithub/gitlab-mirror-and-ci-action@0.2.8
      with:
        args: "https://gitlab.com/liuyangzhuan/ButterflyPACK.git"
      env:
        GITLAB_HOSTNAME: "gitlab.com"
        GITLAB_USERNAME: "liuyangzhuan"
        GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD_GITLABCOM }}
        GITLAB_PROJECT_ID: "30169841"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        POLL_TIMEOUT: "800"
